<!-- Footer -->

<footer >
    <div>
      <a href="https://imgur.com/Mc6BdV0">
      <img src="https://i.imgur.com/Mc6BdV0.png"  class="Logo" width="100" height="100"/></a>
    </div>
    <div>
      <p> <a href="">About</a></p>
      <p> <a href="">Advertising</a></p>
    </div>
    <div>
      <p> <a href="">Privacy & Terms</a></p>
      <p> <a href="">Careers</a></p>
      <p> <a href="">Community Guidelines</a></p>
    </div>
    <div>
      <p> <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        <a href="">Questions</a></p>
      <p> <i class="fa fa-cog" aria-hidden="true"></i>
        <a href="">Manage your account and privacy</a></p>
    </div>
    <div class="social-media">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-github" aria-hidden="true"></i>
    </div>
  </footer>
  
  </body>
  </html>
  