<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="Logo3">
        <a href="https://imgur.com/Mc6BdV0"><img src="https://i.imgur.com/Mc6BdV0.png" height="200" width="200"
                title="source: imgur.com" /></a>
    </div>
    <div class="m">
        <div class="logConatiner">
            <h1 class="h">Please Log In </h1>
            <hr class="hr">
            <button class="button" type="submit"><a href="/auth/google"><i class="fa fa-sign-in" aria-hidden="true"></i>
                    Log In with Google</a></button>
        </div>
    </div>
</div>