body,h1 {font-family: "Raleway", sans-serif}


/* header */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004a7c;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: #005691;
    text-decoration: underline;
}

li a:visited {
    text-decoration: none;
}

li a:active {
  text-decoration: underline;
}

/* Header End */

.top {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.results {
  padding: 20px 30px;
  margin: 10px;
  background-color: rgb(211, 211, 211);
  position: relative;
  border-radius: 6px;
}


/* Footer */
footer {
  background-color: #004a7c;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
footer a {
  color: white;
  text-decoration: none;

}
footer a:hover {
  background-color: #005691;
  text-decoration: underline;

}
footer a:visited {
  text-decoration: none;
}

footer a:active {
  text-decoration: underline;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* No Search */
.tech {
  align-self: center;
  margin-left: 100px;
  font-family: Peace Sans;
  color: #004a7c;
  font-size: 50px;
  text-shadow: 2px 2px grey;
  
}
.btn {
  height: 40px;
}
.first {
  font-size: x-large;
}
.first, .second, .third {
  align-self: center;
}
.third {
  flex-direction: column;
}
.Logo2 {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.input {
  width: 600px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.changer {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.changer video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
} 

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  
  header video {
    display: none;
  }
}

