<%- include('../partials/header') %>
<!-- Google Font -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<!-- Secondary Link Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- Personal stylesheet -->
<link rel="stylesheet" href="/css/user/userform.css">
<!-- icons -->
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<div class="container">
<!-- User Form -->

  <form action="/user" name="addUser" method="POST">
    <div class="joint-title">
      <img src="https://i.imgur.com/Mc6BdV0.png" alt="Logo" class="Logo" width="100" height="100"/>
      <h1 class="title">User Profile</h1>
      <img src="https://i.imgur.com/Mc6BdV0.png" alt="Logo" class="Logo" width="100" height="100"/>
    </div>
    <hr>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Phone Number</label>
          <input name="phoneNo" type="number" class="form-control">
        </div>
        </div>
    <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputAddress">City</label>
      <input name="location" type="text" class="form-control" id="inputAddress" placeholder="Houston">
      <label for="inputAddress">State</label>
      <input name="location" type="text" class="form-control" id="inputAddress" placeholder="TX">
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label>Career</label>
      <label>Position </label>
      <input name="workExp" type="text" class="form-control" placeholder="Current or Past Title">
      <label> Description</label>
      <textarea name="workExp" class="form-control" cols="30" rows="10" placeholder="What did you do?"></textarea>
      <label>End Date </label>
      <input name="workExp" type="date" class="form-control" placeholder="When did you start">
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label> Education</label>
      <input name="education" type="text" class="form-control" placeholder="Bootcamp, Self-taught or Formal">
      <label> Highlights</label>
      <textarea name="education" class="form-control" cols="30" rows="10" placeholder="What did you do?"></textarea>
      <label> End Date</label>
      <input name="education" type="date" class="form-control" placeholder="When did you ">
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label> Project</label>
      <input name="project" type="text" class="form-control" placeholder="Current or Past Project">
      <label> Details</label>
      <textarea name="project" class="form-control" cols="30" rows="10" placeholder="What did you do?"></textarea>
    </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Group</label>
        <input name="groups" type="text" class="form-control" placeholder="Enter a group">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Event</label>
        <input name="events" type="text" class="form-control" placeholder="Enter an event">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Update Profile</button>
  </form>

  <!-- Form End -->
</div>

<%- include('../partials/footer') %>
