
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

body {
    background-color: white;
}
/* header */
ul {
    list-style-type: none;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #004a7c;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
      background-color: #005691;
      text-decoration: underline;
  }

  li a:visited {
      text-decoration: none;
  }

  li a:active {
    text-decoration: underline;
}

.profileImg {
  position: fixed;
  right: 0;
  top: 0;
}
/* Header End */
/* Input */

  .container {
    
    background-color: rgb(211, 211, 211);
    border: 10px double black;
    padding: 10px;
    padding-top: 0;
  }

  /* Input End */
.title {
  display: flex;
  color: #004a7c;
  justify-items: center;
}

.joint-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(220, 220, 220);
  margin: 0;
}

/* Footer */
footer {
  background-color: #004a7c;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
  overflow: hidden;
  
}
footer a {
  color: white;
  text-decoration: none;

}
footer a:hover {
  background-color: #005691;
  text-decoration: underline;

}
footer a:visited {
  text-decoration: none;
}

footer a:active {
  text-decoration: underline;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
