body {
    background-color: lightgrey;
  }
  /* header */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004a7c;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
      background-color: #005691;
      text-decoration: underline;
  }
  
  li a:visited {
      text-decoration: none;
  }
  
  li a:active {
    text-decoration: underline;
  }
  
  /* header end */

  button {
    display: flex;
    align-items: center;
    align-content: center;
    
  }
/* Edit Post */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gainsboro;
}
.textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    text-align: center;
    font-size: 25px;
  }
  button {
    display: flex;
    justify-content: center;
    margin: 30px;
    background-color: #004a7c;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 75px;
    border-radius: 15px;
    text-transform:uppercase;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  }



  /* footer */

footer {
    background-color: #004a7c;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 14px 16px;
    
  }
  footer a {
    color: white;
    text-decoration: none;
  
  }
  footer a:hover {
    background-color: #005691;
    text-decoration: underline;
    color: white;
  
  }
  footer a:visited {
    text-decoration: none;
  }
  
  footer a:active {
    text-decoration: underline;
  }
  .social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }