
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

body {
  background-color: white;
}
button a {
  text-decoration: none;
  color: white;
}
button {
  color: white;
  background-color: #004a7c;
}
/* header */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004a7c;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: #005691;
    text-decoration: underline;
}

li a:visited {
    text-decoration: none;
}

li a:active {
  text-decoration: underline;
}

/* header end */

/* Feed */

h1 {
    display: flex;
    font-family: Peace Sans;
    color: #004a7c;
    font-size: 80px;
    text-shadow: 2px 2px grey;
  }
  h2 {
    font-family: Peace Sans;
    color: #004a7c;
    font-size: 40px;
    text-shadow: 2px 2px grey;
  }
  .feed {
    z-index: 2;
  }
  .Logo2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://i.imgur.com/yLU696v.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    opacity: 0.6;
    
  }

  .profilePic {
    border-radius: 20%;
  }

.box  {
  padding: 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  background-color: inherit; 
}

/* Left Column */
.left {
  text-align: center;
}
.card {
  padding: 20px 30px;
  margin: 10px;
  background-color: rgb(211, 211, 211, 0.3);
  box-shadow: 5px 5px 5px 5px #004a7c;
  border-radius: 6px;
} 

/* Middle Column */
.container {
  display: flex;
  flex-direction: column;
}
.middle {
  display: flex;
  flex-direction: column;
}
.post {
  display: flex;
  width: 400px;
  height: 75px;
  order: -1;
} 

.hunters {
  padding: 20px 30px;
  margin: 10px;
  background-color: rgb(211, 211, 211, 0.3);
  box-shadow: 5px 5px 5px 5px #004a7c;

  border-radius: 6px;
}

/* Right Column */

.right {
  text-align: center;
}
/* .right {
  padding: 20px 30px;
  margin: 10px;
  background-color: rgb(211, 211, 211, 0.3);
  box-shadow: 5px 5px 5px 5px #004a7c;
  border-radius: 6px;
}  */

@media screen and (max-width: 600px) {
  
  
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  } 
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  } 
  

  /* Feed End */
  
  
}
/* footer */

footer {
  background-color: #004a7c;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 14px 16px;
  
}
footer a {
  color: white;
  text-decoration: none;

}
footer a:hover {
  background-color: #005691;
  text-decoration: underline;
  color: white;

}
footer a:visited {
  text-decoration: none;
}

footer a:active {
  text-decoration: underline;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* No Login */

.bgimg {
  background-image: url('https://i.imgur.com/Ke4HEYo.jpg');
  min-height: 800px;
  background-position: center;
  background-size: cover;
}

.h {
  animation-direction: alternate;
  animation-play-state: running;
  position: fixed;
  bottom: 35%;
  right: 35%;
}
.button {
  align-content: center;
  position: fixed;
  font-size: large;
  width: 200px;
  height: 50px;
  bottom: 35%;
  right: 43%;
}
a {
  text-decoration: none;
}
.hr {
  border-color: grey;
  width: 50%;
  position: fixed;
  bottom: 40%;
  right: 20%;
}
.logo3 {
  padding-top: 50px;
  padding-left: 50px;
}


.m {
  display: flex;
  align-items: center;
  color: white;
}