
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

body {
  background-color: lightgrey;
}
button a {
  text-decoration: none;
  color: white;
}
button {
  color: white;
  background-color: #004a7c;
}
/* header */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #004a7c;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: #005691;
    text-decoration: underline;
}

li a:visited {
    text-decoration: none;
}

li a:active {
  text-decoration: underline;
}

/* header end */

/* Feed */

h1 {
  text-align: center;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
  font-size: 40px;

}

.box  {
  padding: 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  background-color: inherit; 
}
/* Left Column */

.left {
  padding: 20px 30px;
  margin: 10px;
  background-color: white;
  border-radius: 6px;
} 

/* Middle Column */
.container {
  display: flex;
  flex-direction: column;
}

.post.container {
  display: flex;
  width: 400px;
  height: 75px;
  order: -1000;
} 

.hunters {
  padding: 20px 30px;
  margin: 10px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Right Column */

.right {
  padding: 20px 30px;
  margin: 10px;
  background-color: white;
  border-radius: 6px;
} 

@media screen and (max-width: 600px) {
  
  
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  } 
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  } 
  

  /* Feed End */
  
  
}
/* footer */

footer {
  background-color: #004a7c;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 14px 16px;
  
}
footer a {
  color: white;
  text-decoration: none;

}
footer a:hover {
  background-color: #005691;
  text-decoration: underline;
  color: white;

}
footer a:visited {
  text-decoration: none;
}

footer a:active {
  text-decoration: underline;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

