<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Boards</title>
</head>
<body>
    <h1>Available Jobs</h1>
    <ul>
        <% jobs.forEach(function(job) { %>
            <li>
                <%= job.text %>
            </li>
       <% }) %>
    </ul>
</body>
</html>