<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/feed/edit.css" />
  <div class="container">
    <h1> 🖊Edit Comment </h1>
            <% if (hunter._id.equals(user && user._id)) { %>
        <form action="/feed/<%= comment._id %>?_method=PUT" method="POST" autocomplete="off" >
          <textarea placeholder="<%= comment.text %>" class="textarea" name="text" required cols="30" rows="10"value=""></textarea>
            <button type="submit" id="edit-btn">Update Comment</button>
        </form>
        <% } %>
    </div>
    <%- include('../partials/footer') %>
