<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/jobs.css">
<link rel="stylesheet" href="/css/bootcamp/bootcamp.css">
<!-- icons -->
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <!-- Online Web Fonts for Peace Sans -->
 <link href="//db.onlinewebfonts.com/c/2a32094b74bdd4607c616294a8a90740?family=Peace+Sans" rel="stylesheet" type="text/css"/>

<div class="Logo2">
  <a href="https://imgur.com/Mc6BdV0"><img src="https://i.imgur.com/Mc6BdV0.png" height="200" width="200" title="source: imgur.com" /></a>  
  <h1 class="tech" >Welcome to Software Engineering Immersive Remote (SEIR)</h1>
</div>
<div class="conatiner">
    
    <div class="top">
        <div class="first">
            <h2 >Curriculum Overview</h2>
            <p>All material is subject to change.</p>
        </div>
        <div class="second">
            <div class="unit-breakdown">
                <h3>Unit One: Frontend Fundamentals</h3>
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Week</th>
                                <th scope="col">Topics</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Intro to the Dev Environment, JavaScript Fundamentals, HTML & CSS, DOM Selectors & Events</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>CSS: Flexbox, Grid & Responsive Design JS: jQuery, Callback Functions, Classes, Array Iterators & AJAX</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Project Week, Project Deployment to Github Pages, & CS Topics</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="unit-breakdown">
                <h3 class="disabled">Unit Two: Full Stack Development</h3>
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Week</th>
                                <th scope="col">Topics</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">4</th>
                                <td>Client-Server: HTTP Communications & REST NodeJS & ExpressJS Framework MongoDB & MongooseJS ODM Data Modeling</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Consuming & Producing APIs Authentication using OAuth Regular Expressions</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td colspan="2">Project Week, Project Deployment to Heroku, CS Topics</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="unit-breakdown">
                <h3 class="disabled">Unit Three: React Fundamentals</h3>
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Week</th>
                                <th scope="col">Topics</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">7</th>
                                <td>SPA Architecture, ReactJS Library & Client-side Routing (React)</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>Web Sockets, AJAX, Full-stack React & Token-based Authentication</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td colspan="2">Project Week, Project Deployment to Heroku & CS Topics</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="unit-breakdown">
                <h3 class="disabled">Unit Four: Second Language</h3>
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Week</th>
                                <th scope="col">Topics</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">10</th>
                                <td>Relational Databases & SQL, Fundamentals of Python & CS Topics</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>Django Web Framework, Uploading Files to Amazon S3 & Username/Password Authentication</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td colspan="2">Project Week, Project Deployment to Heroku & CS Topics</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>
